
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="nav-home"href="../../../index.html">Home</a></li>
    <li class="breadcrumb-item"><a class="nav-category"href="../../../collections.html">{{site.categories.0.category}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Subctegory Name</li>
  </ol>
</nav>
    