--- component: footer ---
<footer class="footer black-background white-color no-print" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-3 col-6">
                <ul class="list-unstyled">
                    <li class="footer-title">
                        <strong>About Us</strong>
                    </li>
               
                    <li>
                        <a href="../../../aboutUs.html" class="footer-link">Our Story</a>
                    </li>
                    <li>
                        Offers
                    </li>
                    <li>
                        Blog
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mt-3 col-6">
                <ul class="list-unstyled">
                    <li class="footer-title">
                        <strong>Help</strong>
                    </li>
             
                    <li>
                        <a href="../../../contact.html" class="footer-link">Contact Us</a>
                    </li>
                    <li>
                        Shipping Info
                    </li>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        Sitemap
                    </li>

                </ul>
            </div>
            <div class="col-md-3 mt-3 sm-mr-5 phone-center">
                <ul class="list-unstyled">
                    <li class="footer-title hide-phone-display">
                        <strong>Connect</strong>
                    </li>
                    <li>
                        <span aria-hidden="true" class="icon-twitter"></span>
                        <span aria-hidden="true" class="icon-facebook"></span>
                        <span aria-hidden="true" class="icon-pinterest"></span>
                        <span aria-hidden="true" class="icon-instagram"></span>
                        <span aria-hidden="true" class="icon-youtube"></span>
                    </li>

                </ul>
            </div>
            <div class="col-md-3 mt-3 phone-place-first pr-5">
                <ul class="list-unstyled">
                    <li class="footer-title">
                        <strong>Newsletter Sign Up</strong>
                    </li>
                    <div class="sign-up-field">
                    <li>
                        
                            <div class="input-group mt-2">
                                <input type="text" class="form-control-footer newsletter" aria-labelledby="Enter Email" placeholder="Enter Email">
                                <div class="inline-button">
                                    <button type="button" class="btn sign-up bottom-sign-up">Sign Up</button>
                                </div>
                            </div>
                    </li>
                    <li>
                        <button type="button" class="btn mt-2 sign-up">Sign Up</button>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="copyright col-md-4 pt-2 justify-content-start text-center">
                <small>Copyright &copy; 2015 Gorilla</small>
            </p>
            <address class="col-md-4 col-12 pt-2 justify-content-center phone-place-first text-center">
                <small>Gorilla | 111 W. Jackson, Suite 300 | Chicago, IL 60604 </small>
            </address>
            <p class="col-md-4 pt-2 justify-content-end text-right hide-phone-display">
                <small class="js-go-up"> Back to Top &#x25B2; </small>
            </p>
        </div>
    </div>
    </div>
</footer>