---
component: header
---

<header id="masthead" class="masthead no-print" name="masthead">
    <div class="masthead-top">
        <div class="container">
            <div class="row justify-content-end hide-phone-display">
                <div class="pt-2 white-color">
                    <label>Welcome, John Doe!</label>
                </div>
                {{!dropdown}}
                <div class="z-index2000">
                    <button class="btn btn-secondary dropdown-toggle pt-2 ml-3 dropdown-menu-masthead" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Nicolas Lopez
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <button class="dropdown-item" type="button">My Account</button>
                        <button class="dropdown-item" type="button">My Wishlist</button>
                        <button class="dropdown-item" type="button">Sign Out</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="masthead_bottom">
        <nav class=" navbar sticky-top navbar-expand-md navbar-light row" style="background-color: white">
            <div class="container">
                <div class="col-md-8 col-9">
                    <div class="row">
                        {{!logo}}
                        <div class="col-md-3 col-12 ">
                            <a class="navbar-brandx" href="/">
                                <img src="{{assets}}/images/logo.gif" alt="{{site.title}}" class="brand" />
                            </a>
                            <button class="navbar-toggler border-0 mt-1" type="button" data-toggle="offcanvas" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        {{!dropdown}}
                        <div class="col-md-9 inherit-md d-none d-md-block ">
                            <ul class="navbar-nav full-container row" aria-labelledby="home-tab">
                                <li class="col-md-3 nav-item mt-1 mr-2 d-inline">

                                    <div class="dropdown">
                                        <a class="nav-link browse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Browse
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-3 nav-item mt-1 mr-2 d-inline">
                                    <a class="nav-link about text-center" href="../../../aboutUs.html">About</a>

                                </li>
                                <li class="col-md-3 nav-item mt-1 mr-2 d-inline">
                                    <a class="nav-link contact-nav justify-content-right" href="../../../contact.html">Contact us</a>

                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas-collapse col-md-9 d-md-none p-0" id="navbarsExampleDefault">
                            <ul class="nav nav-tabs d-xs-none d-md-block" role="tablist">
                                <li class="nav-item head-buttons menu-button">
                                    <a class="nav-link active" id="menu-tab" data-toggle="tab" href="#navigation" role="tab" aria-controls="menu" aria-selected="true">Menu</a>
                                </li>
                                <li class="nav-item head-buttons account-button">
                                    <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Account</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <ul class="navbar-nav full-container row js-menu-content tab-pane show active" id="navigation" role="tabpanel" aria-labelledby="home-tab">
                                    <li class="col-md-3 nav-item mt-1 mr-2">
                                        <hr>
                                        <div class="dropdown">
                                            <a class="nav-link browse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Browse
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                <button class="dropdown-item" type="button">
                                                    <a href="../../../collections.html" class="dropdown-item">Category 01</a>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <a href="../../../collections.html" class="dropdown-item">Category 02</a>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <a href="../../../PLP.html" class="dropdown-item">Product Listing Page</a>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <a href="../../../PDPGC.html" class="dropdown-item">Buy a gift card</a>
                                                </button>
                                            </div>
                                        </div>
                                        <hr>
                                    </li>
                                    <li class="col-md-3 nav-item mt-1 mr-2">
                                        <a class="nav-link about ml-4" href="../../../aboutUs.html">About</a>
                                        <hr>
                                    </li>
                                    <li class="col-md-3 nav-item mt-1 mr-2">
                                        <a class="nav-link contact-nav ml-4" href="../../../contact.html">Contact us</a>
                                        <hr>
                                    </li>
                                </ul>
                                <ul class="js-account-content account-content tab-pane list-unstyled" role="tabpanel" aria-labelledby="home-tab" id="account">
                                    <li class="bold grey-color">
                                        <hr> My Account
                                        <hr>
                                    </li>
                                    <li class="bold grey-color">
                                        My Wish Lists (3)
                                        <hr>
                                    </li>
                                    <li class="bold grey-color">
                                        Sign Out
                                        <hr>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                {{!search bar}}
                <div class="col-md-4 col-3 p-0">
                    <div class="row head-search">
                        <div class="input-group col-md-9 mt-2 col-6">
                            <input type="text" class="form-control d-none d-md-block" aria-label="Search" placeholder="Search">
                            <div class="input-group-prepend phone-display-search ">
                                <input type="image" class="input-group-image input-group-sizing-default" src="{{assets}}/images/search-grey-512.png" />
                            </div>
                        </div>
                        {{!cart}}
                        <a class="col-md-3 mt-3 pt-1 col-6" href="../../../cart.html" aria-label="wish list">
                            <img class="small-icon" src="{{assets}}/images/shopping_cart.png" />
                        </a>
                    </div>
                </div>
            </div>
    </div>
    </nav>
    </div>
    </div>
</header>
<div class="dropdown-menus mb-3" aria-labelledby="dropdownMenu">
    <div class="container pl-5 pb-3 pt-2">
        <button class="dropdown-item" type="button">
            <a href="../../../PLPG.html" class="dropdown-item light">Product Listing Page Grid</a>
        </button>
        <button class="dropdown-item" type="button">
            <a href="../../../PLP.html" class="dropdown-item light">Product Listing Page</a>
        </button>
        <button class="dropdown-item" type="button">
            <a href="../../../PDP.html" class="dropdown-item">Product Display Page</a>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">
            <a href="../../../compare.html" class="dropdown-item light">Compare Products</a>
        </button>
        <button class="dropdown-item" type="button">
            <a href="../../../PDPGC.html" class="dropdown-item">Buy a gift card</a>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">
            <a href="../../../collections.html" class="dropdown-item light">Category 02</a>
        </button>
        <button class="dropdown-item" type="button">
            <a href="../../../collections.html" class="dropdown-item light">Category 01</a>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">
            <a href="../../../cart.html" class="dropdown-item">Go to Cart</a>
        </button>
    </div>
</div>