<aside>
    <h3>{{site.categories.0.category}}</h3>
    <h5 class="mt-3">
        Shop By
    </h5>
    <hr>
         {{#each site.categories.0.filters.0.subcategory.Subcategory01}}
         <h5>Subcategory</h5>
        {{#each attributeCategory}}
        <ul class="pl-0 subcategories-li list-unstyled">
            <li class="list-unstyled attribute-link">{{this}}</li>
        </ul>
        {{/each}}
        {{/each}}
    <hr>
    <h5 class="mb-3">
        Compare Products
    </h5>
    <form>
        <label class="sr-only">name input</label>
        <div class="form-group">
            <input type="text" class="form-control contact name" id="exampleFormControlInput1" placeholder="product name 1" required>
        </div>
        <div class="name-comment">
            <span class=""></span>
        </div>
        <label class="sr-only">email input</label>
        <div class="form-group">
            <input type="email" class="form-control contact email" id="exampleFormControlInput1" placeholder="product name 2" required>
        </div>
        <div class=" email-comment">
            <span class=""></span>
        </div>
        <label class="sr-only">phone input</label>
        <div class="form-group">
            <input type="text" class="form-control contact phone" id="exampleFormControlInput1" placeholder="Product Name 3" required>
        </div>
        <div class="phone-comment">
            <span class=""></span>
        </div>
        <button type="submit" class="btn submit-btn" onclick="location.href='../../../compare.html'">Compare</button>
    </form>

</aside>