<aside>
    <h5 class="mt-3">
        Shop By
    </h5>
    <ul class="pl-0 subcategories-li list-unstyled">
        {{#each site.categories.0.filters}}
            {{#each subcategory}}
            <li class="pt-3">{{@key}}</li>
            {{/each}}
        {{/each}}
    </ul>
    <hr>
    <h5 class="mb-3">
        Compare Products
    </h5>
      <form>
        <label class="sr-only">name input</label>
        <div class="form-group">
            <input type="text" class="form-control contact name" id="exampleFormControlInput1" placeholder="product name 1"required>
        </div>
        <div class="name-comment"><span class=""></span></div>
        <label class="sr-only">email input</label>
        <div class="form-group">
            <input type="email" class="form-control contact email" id="exampleFormControlInput1" placeholder="product name 2"required>
        </div>
        <div class=" email-comment"><span class=""></span> </div>
        <label class="sr-only">phone input</label>
         <div class="form-group">
            <input type="text" class="form-control contact phone" id="exampleFormControlInput1" placeholder="Product Name 3"required>
        </div>
        <div class="phone-comment"><span class=""></span></div>
        <button type="submit" class="btn submit-btn" onclick="location.href='../../../compare.html'">Compare</button>
    </form>

</aside>