<aside>
    <div class="right-box">
        <h3 class="bb-grey pb-3 pt-3 helvetica regular-font bold">
            Summary
        </h3>
        <h3 class="light bb-grey pb-3 pt-3 helvetica regular-font ">
            ESTIMATED SHIPPING AND TAX <span class="ml-5 pb-1"> &or;</span>
        </h3>
        <div class="box">
            <p class="">Subtotal:</p>
            <p class="js-subtotal"></p>  
        </div>
         <div class="box">
            <p class="text-left d-inline">Discount:</p>
            <p class="js-discount "></p>  
        </div>
         <div class="box">
            <p class="text-left d-inline">Estimated Shipping:</p>
            <p class="js-shipping">0.00</p>  
        </div>
         <div class="box">
            <p class="text-left d-inline">Estimated Taxes:</p>
            <p class="js-taxes">0.00</p>  
        </div>
         <div class="box">
            <p class="bold">TOTAL</p>
            <p class="js-total"></p>  
        </div>
           <button  class="btn btn-checkout">CHECKOUT</button>
        <p class="regular-fontj text-center mt-3">OR</p>
            <button class="btn btn-outline-dark full-width mb-3">PayPal</button>
    

     
    </div>
</aside>