html {
    font-size:11pt;
    }
    
    body {
    background-color:#fff;
    color:#444;    
     &:before{
        content: ' ';
        background-image: url(../../images/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.05; 
    }
    }
    
    body,input,select,textarea {
    font-family:_font(family);
    font-weight:_font(weight);
    font-size:1rem;
    line-height:1.65;
    }
    
    a:hover {
    text-decoration:none;
    }
    
    em,i {
    font-style:italic;
    }
    
    p {
    margin:0 0 _size(element-margin) 0;
    }
    
    h1,h2,h3,h4,h5,h6 {
    font-weight:_font(weight-light);
    line-height:1.5;
    text-transform:uppercase;
    color:#555;
    margin:0 0 (_size(element-margin)-.5) 0;
    a {
                color: inherit;
                text-decoration: none;
            }
    }
    
    
    h1 {
    font-size:3rem;
    line-height:1.2;
    }
    
    h2 {
    font-size:2.25rem;
    line-height:1.3;
    }
    
    h3 {
    font-size:1.25rem;
    }
    
    h4 {
    font-size:1rem;
    }
    
    h5 {
    font-size:.9rem;
    }
    
    h6 {
    font-size:.7rem;
    }