<img class="center-align" src="/images/AK_1.jpg" alt="Me, Abhinav Kaul" />
<div class="about-me-text">
    <p>This is me, Abhinav Kaul. I am currently working as an Associate L2 AEM developer for Cartier, the French luxury goods
        conglomerate company.</p>
    <p>I completed my graduation from Harcourt Butler Technological Institute, Kanpur in Computer Science and Engineering
        with an aggregate of 78.3%.</p>
    <p>I joined Sapient Corporation as a college fresher. I have been working in Sapient for the past 2 years 4 months and
        for the Cartier for the past 2 years. These couple of years have encapsulated a lot of learning and fun.</p>
</div>