<div id="actionSidebar" class="js-sidebar c-action-sidebar">
    <a href="javascript:void(0)" class="closebtn c-action-sidebar__closebtn js-action-sidebar__closebtn" data-sidebarType="action"
        data-main="true">×</a>
    <button class="btn-a-like openbtn" id="aboutMe" data-sidebarType="aboutMe" data-main="true">About Me</button>
    <button class="btn-a-like openbtn" id="myProjects" data-sidebarType="myProjects" data-main="true">My Projects</button>
    <button class="btn-a-like openbtn" id="myExperience" data-sidebarType="myExperience" data-main="true">My experience</button>
    <button class="btn-a-like openbtn" id="contact" data-sidebarType="contactMe" data-main="true">Contact Me</button>
</div>