<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <div>Whatever the mind of man can conceive and believe, it can achieve. Thoughts are things! And powerful
                        things at that.
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <div>Mind of man can conceive and believe, it can achieve. Thoughts are things! And powerful things at
                        that.
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <div>Thoughts are things! And powerful things at that, when mixed with definiteness of purpose, and burning
                        desire, can be translated into riches.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" aria-hidden="true">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="hidden">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" aria-hidden="true">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="hidden">Next</span>
    </a>
</div>