<footer class="footer">
    <div class="container">
        <div class="text-muted">
            <ul class="inline-list">
                <li>About</li>
                <li>Privacy</li>
                <li>Cookies</li>
                <li>Careers</li>
            </ul>
            <span class="pull-right">&copy; Sapient</span>
        </div>
    </div>
</footer>