<footer class="c-footer">
    <div class="container">
        <div class="c-footer__text-muted">
            <ul class="c-footer__inline-list">
                <li>About</li>
                <li>Privacy</li>
                <li>Cookies</li>
                <li>Careers</li>
                <li>&copy; Sapient</li>
            </ul>
        </div>
    </div>
</footer>