<div class="beauty-ol">
    <h2>My Projects</h2>
    <ol>
        <li>
            <p>Working as an <em>AEM Associate Technology L2</em> for Cartier</p>
        </li>
        <li>
            <p><em>Granoband</em>, a system with which we can connect to people, whom we meet in real world, in virtual circles,
                i.e., interfacing the <em>real social circles with online social circles</em> with the help of weak links.</p>
        </li>
        <li>
            <p>Worked as a front end developer for an <em>online physiotherapy website, SAVA</em>.</p>
        </li>
        <li>
            <p>An Android application sending the contacts of the smartphone to the server based on <em>data mining</em>.</p>
        </li>
    </ol>
</div>