<div class="c-form c-newsletter-form">
    <h3 class="c-form__heading c-newsletter-form__heading">Opt for newsletter and receive updates like never before:</h3>
    <form class="c-form__newsletter" action="/registerLight" method="POST">
        <fieldset>
            <legend class="sr-only">Opt for newsletter</legend>
            <div class="c-form__input">
                <input type="email" name="email" id="newsletter-email" class="form-control c-form__field" placeholder=" " required autofocus
                    autocomplete="on">
                <label for="newsletter-email" class="c-form__field__placeholder">Email address</label>
            </div>
            <button class="btn btn-lg btn-default btn-block c-form__field" name="submit" type="submit">Register for updates!</button>
        </fieldset>
    </form>
</div>