<form class="form-signup" action="/signup" method="POST">
    <h2 class="form-signup-heading">Not still a member, then sign up</h2>
    <div class="input-wrapper">
        <input type="text" id="name" name="name" class="form-control" placeholder=" " required>
        <label for="name" class="form-control-placeholder">Name</label>
    </div>
    <div class="input-wrapper">
        <input type="email" id="signupEmail" name="email" class="form-control" placeholder=" " required>
        <label for="signupEmail" class="form-control-placeholder">Email address</label>
    </div>
    <div class="input-wrapper">
        <input type="password" name="password" id="signupPassword" placeholder=" " class="form-control" required>
        <label for="signupPassword" class="form-control-placeholder">Password</label>
    </div>
    <div class="input-wrapper">
        <input type="password" name="confPassword" id="confPassword" placeholder=" " class="form-control" required>
        <label for="confPassword" class="form-control-placeholder">Confirm Password</label>
    </div>
    <button class="btn btn-lg btn-default btn-block" name="submit" type="submit">Sign Up</button>
</form>