<form class="form-signin" action="/signin" method="POST">
    <h2 class="form-signin-heading">Already registered, then sign in</h2>
    <div class="input-wrapper">
        <input type="email" name="email" id="signin-email" class="form-control" placeholder=" " required autofocus>
        <label for="signin-email" class="form-control-placeholder">Email address</label>
    </div>
    <div class="input-wrapper">
        <input type="password" name="password" id="signin-password" class="form-control" placeholder=" " required>
        <label for="signin-password" class="form-control-placeholder">Password</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    {{>recaptcha}}
    <button class="btn btn-lg btn-default btn-block" name="submit" type="submit">Sign in</button>
</form>