<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	
	<title>Base Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />


	

	</head>
	<body>

	<header>
	<div class="logo">
	<a ><img src=""></a>
	</div>
	
	header section
 <ul>
       <li><a href="/#">Home</a></li>
      <li><a href="/#">About</a></li>
      <li><a href="/#">Portfolio</a></li>
      <li><a  href="/#">My experiences</a></li>
      <li><a  href="/#">Contact</a></li>


</ul>
	</header>
			
<div class ="body">

body content

</div>

	<footer>

	footer section

	</footer>

	</body>
</html>

