<div id="main">
    {{> nav}}
    <div class="jumbotron">
        <div class="container">
            <h1 class="beauty">Bloggers, Abhinav welcomes you to become Timeliners</h1>
            <p>Here I am! Abhinav Kaul, a developer by work and a radical by heart.</p>
            <p>Timeliners is my initiative dedicated to the bloggers who think that a pair of hands can craft the world by
                exposing their ideas on internet through a medium called blog.</p>
            <p><a class="btn btn-primary btn-lg" href="/forms" role="button">Get started to write your heart out &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="beauty">My Experience</h2>
                <p>As the great Albert Einstein says, "The only source of knowledge is experience", experience always plays
                    a strong role in building a professional character and passion for technology. This is what I love; making
                    and breaking stuff that does not want to!</p>
                <p><button class="btn btn-default" id="myExperience" data-toggle="modal" data-target="#myExperienceModal">View
                        my experience</button></p>
            </div>
            <div class="col-md-4">
                <h2 class="beauty">My Projects</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
                <p><button class="btn btn-default" id="myProjects" data-toggle="modal" data-target="#myProjectsModal">View
                        my projects
                    </button></p>
            </div>
            <div class="col-md-4">
                <h2 class="beauty">Contact me</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><button class="btn btn-default" id="contactMe" data-toggle="modal" data-target="#contactMeModal">How to
                        contact me?</button></p>
            </div>
        </div>
    </div>
    {{> footer}}
</div>