.cta {
    background-color: _palette(accent1,bg);
    color: _palette(border-bg);
    background-attachment: fixed;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../../images/cta01.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1; 
         h1,h2,h3,h4,h5,h6{
           color: _palette(bg);
         }
    
      }
    
    .cta__content {
    padding: 8rem 0 6rem 0;
    position: relative;
    z-index: 1;
    }
      .cta__summary {
        a{
        color:white;
        font-size:2rem;
        }
        p{
            color :_palette(bg);
           }
    }