  <!-- Header -->
      <header>
         <a class="header__logo" href="index.html">{{title}}</a>
         <!-- Nav -->
         <nav>
            <ul class="nav">
               <li class="nav__item"><a href="index.html">Home</a></li>
               <li class="nav__item"><a href="index.html">Type Of Resumes</a></li>
               <li class="nav__item"><a href="index.html">Articles</a></li>
               <li class="nav__item"><a href="index.html">Contact Us</a></li>
            </ul>
         </nav>
      </header>