{{> nav}}
<div class="container c-user js-user">
    {{#if infoMsg }}
    <div class="alert alert-info alert-dismissible teaser">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{infoMsg}}
    </div>
    {{/if}}
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <textarea placeholder="Share your happiness..." class="form-control c-user__post js-user__post" rows="5" id="comment"></textarea>
            <button class="btn btn-primary btn-sm c-user__post-button js-user__post-button">Post</button>
        </div>
    </div>
    <div class="row">
        <div id="c-user__stories-carousel" class="carousel slide c-user__stories-carousel" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
            </ol>
            <div class="carousel-inner c-user__stories-wrapper js-user__stories-wrapper" role="listbox">
            </div>
            <a class="left carousel-control" href="#c-user__stories-carousel" role="button" data-slide="prev" aria-hidden="true">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="hidden">Previous</span>
            </a>
            <a class="right carousel-control" href="#c-user__stories-carousel" role="button" data-slide="next" aria-hidden="true">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="hidden">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="modal fade" id="postSuccessModal" tabindex="-1" role="dialog" aria-labelledby="postSuccessLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="postSuccessModalText">
            </div>
        </div>
    </div>
</div>
<script id="user-story" type="text/x-handlebars-template">
    <div class="item \{{active}}">
        <div class="container">
            <div class="carousel-caption">
                <div class="js-user__story">\{{{post}}}</div>
            </div>
        </div>
    </div>
</script> {{> footer}}