{{> nav}}
<div class="container">
    <a href="/logout">Logout</a>
    {{#if infoMsg }}
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{infoMsg}}
    </div>
    {{/if}}
    <div class="row">
    </div>
</div>
{{> footer}}