{{> nav}}
<div class="container">
    Just watch your favourite posts by your favourites!
    {{#if infoMsg }}
    <div class="alert alert-info alert-dismissible teaser">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{infoMsg}}
    </div>
    {{/if}}
    <div class="row">
    </div>
</div>
{{> footer}}