{{> nav}}
<div class="container">
    Look out this is your wall! Go on and post and share your past and present with all family members.
    {{#if infoMsg }}
    <div class="alert alert-info alert-dismissible teaser">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{infoMsg}}
    </div>
    {{/if}}
    <div class="row">
    </div>
</div>
{{> footer}}