{{> nav}}
<div class="container c-user-wall js-user-wall">
    {{#if infoMsg }}
    <div class="alert alert-info alert-dismissible teaser">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{infoMsg}}
    </div>
    {{/if}}
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <ul class="c-user-wall__stories-wrapper js-user-wall__stories-wrapper"></ul>
        </div>
    </div>
</div>
<script id="user-wall-story" type="text/x-handlebars-template">
    <li class="js-user-wall__story">\{{{post}}}</li>
</script>
{{> footer}}