{{> nav}}
<div class="container c-user-wall js-user-wall">
    {{#if infoMsg }}
    <div class="alert alert-info alert-dismissible teaser">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{infoMsg}}
    </div>
    {{/if}}
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <div id="myCarousel" class="carousel slide c-user-wall__stories-wrapper js-user-wall__stories-wrapper" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{#each posts}}
                    <li data-target="#myCarousel" data-slide-to="{{@index}}" {{#ifEquals @index 0}} class="active" {{/ifEquals}}></li>
                    {{/each}}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {{#each posts}}
                    <div class="item {{#ifEquals @index 0}} active {{/ifEquals}}">
                        <div class="container">
                            <div class="carousel-caption">
                                <div>{{this.post}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" aria-hidden="true">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="hidden">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" aria-hidden="true">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script id="user-wall-story" type="text/x-handlebars-template">
    <li class="js-user-wall__story">\{{{post}}}</li>
</script> {{> footer}}