<nav>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="topics.html">Topics</a></li>
      <li><a href="#">References</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Ask Me</a></li>
    </ul>
</nav>