html {
  position: relative;
  min-height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

a {
  color: #00B7FF;
}

header {
  display: inline-block;
}

.bq3 { 
  display: inline-block;
  width: 72%;
  background: url('/images/icon-opening-quote.png') top left no-repeat;
  padding-left: 45px;
  border: none;
  margin: 0 2%;
  vertical-align: middle;
}

.bq3 p {
  position: relative;
  background: url('/images/icon-closing-quote.png') bottom right no-repeat;
  padding-right: 40px;
}

.forms-container input, .forms-container button, .g-recaptcha {
  margin-bottom: 20px;
}

.g-recaptcha > div {
  margin: 0 auto;
}

.or-img-wrapper img {
  display: block;
  margin: 0 auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}
.inline-list {
  display: inline;
  list-style: none;
}
.inline-list li {
  display: inline-block;
  padding: 0 25px;
}
.dob__wrapper {
  margin-bottom: 20px;
}
.dob__wrapper > select {
  display: inline-block;
  margin-right: 0.9%;
}
.dob__wrapper > select:last-child {
  margin-right: 0;
}
.dob__wrapper .date, .dob__wrapper .year {
  width: 28%;
}
.dob__wrapper .month {
  width: 40%;
}
.error {
  text-align: center;
}