html {
  position: relative;
  min-height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

a {
  color: #00B7FF;
}

header {
  display: inline-block;
}

.bq3 { 
  display: inline-block;
  width: 72%;
  background: url('/images/icon-opening-quote.png') top left no-repeat;
  padding-left: 45px;
  border: none;
  margin: 0 2%;
  vertical-align: middle;
}

.bq3 p {
  position: relative;
  background: url('/images/icon-closing-quote.png') bottom right no-repeat;
  padding-right: 40px;
}

.forms-container input, .forms-container button, .g-recaptcha {
  margin-bottom: 10px;
}
.form-wrapper input {
  margin-top: 30px;
}
.form-wrapper .checkbox input[type=checkbox] {
  margin: 0;
  left: 0;
}
.or-img-wrapper img {
  display: block;
  margin: 0 auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}
.inline-list {
  display: inline;
  list-style: none;
}
.inline-list li {
  display: inline-block;
  padding: 0 25px;
}

.teaser {
  text-align: center;
}

.form-control-placeholder {
  display: block;
  position: absolute;
  top: 0;
  padding: 9px 0 0 13px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus ~ .form-control-placeholder,
.form-control:valid ~ .form-control-placeholder,
.form-control:not(:placeholder-shown) ~ .form-control-placeholder {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  padding: 5px 0;
  opacity: 1;
}

.form-wrapper .input-wrapper {
  position: relative;
}
label.error {
  color:red;
}