<nav class="navbar-header">
     <h3 class="header-title header-blue">Header</h3>
     <p class="text-red text-fontfamily">This is the text set in the header.Learning Normal SCSS.</p>
     <a href="#href" alt="This is the my text">This is value for hover validation</a>
    </nav>