<footer class="foot">
    <p>Footer</p>
    <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Condition</a></li>
        <li><a href="#">Licence</a></li>
        <li><a href="#">Few More</a></li>
    </ul>
</footer>