	<!-- CTA -->
			<section class="cta">
				<div class="cta__content">
					<h2>Not getting enough profile views</h2>
					<div class="cta__summary">
						<p>Get a Featured Profile and increase your visibility to recruiters up to 3 times.With our resume rank higher in search results. Over 70% of hiring activity is driven by CV search. Get a Featured Profile and increase your visibility to recruiters up to 3 times. With our resume rank higher in search results. Over 70% of hiring activity is driven by CV search</p>
					<a href="#">Join now</a>
					</div>
				</div>
			</section>