@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
/*++basic++*/

html {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 a {
	 text-decoration:none;
 }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}
/*--basic--*/

/* Typography */

html {
	font-size: 11pt;
}

body {
	background-color: #ffffff;
	color: #444444;
}
 body:before {
    content: ' ';
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05; }

body,
input,
select,
textarea {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.65;
}

a:hover {
	text-decoration: none;
}

em,
i {
	font-style: italic;
}

p {
	margin: 0 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	line-height: 1.5;
	text-transform: uppercase;
	margin: 0 0 1.5rem 0;
	color: #555555;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
}

h2 {
	font-size: 2.25rem;
	line-height: 1.3;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.9rem;
}

h6 {
	font-size: 0.7rem;
}


/* Banner */

.banner {
	margin: 0 auto;
	width: 75rem;
	color: rgba(255, 255, 255, 0.5);
	background-image: url("../../images/banner.jpg");
	background-position: center;
	border-top: 0;
	min-height: 35rem;
	overflow: hidden;
	position: relative;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	text-align: center;
	width: 100%;
}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
	color: #ffffff;
}

.banner>.banner__item {
	top: 130px;
	position: relative;
	z-index: 3;
}

.banner h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.banner video {
	-moz-transform: translateX(50%) translateY(50%);
	-webkit-transform: translateX(50%) translateY(50%);
	/* Safari */
	-ms-transform: translateX(50%) translateY(50%);
	/* IE 9 */
	transform: translateX(50%) translateY(50%);
	bottom: 50%;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	right: 50%;
}

.banner:after {
	background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
	content: ' ';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.67;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}


/* Header */

header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background: #111111;
	color: rgba(255, 255, 255, 0.5);
	cursor: default;
	height: 3.25rem;
	left: 0;
	line-height: 3.25rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
}

.header__logo,
.nav__item a {
  color: rgba(255, 255, 255, 0.8);
	font-size: 1rem;
	font-weight: 400;
	height: inherit;
	line-height: inherit;
	padding: 0 1.25rem;
	text-decoration: none;
}
.header__logo{
  color: white;
  font-size: 120%;
  font-weight: bold;
}

.nav__item {
	display: inline-block;
}

.nav__item > a:hover {
            color: #ffffff; }
/*footer*/
footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  padding: 4rem 0 1rem 0 ; }
  footer h3{
    font-size: 1rem;
  }
  footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;}
  footer a:hover {
      color: #ce1b28; }
      footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #ffffff; }
    footer .footer__content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    width: 75rem; }
    footer .footer__content section {
      width: 25%; }
      footer .copyright {
    border-top: 1px solid;
    font-size: 0.8rem;
    opacity: 0.5;
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center; }

/*highlights*/
		.highlights ,.testimonials {
		  padding: 8rem 0 6rem 0 ;
		  position: relative;
		  z-index: 1; }

	.highlghts__header,.testimonials__header  {
  text-align: center;
  margin-bottom: 4rem; }
  .highlghts__header p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto; }
  .highlights__items,.testimonials__items {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }

  @media only screen and (max-width: 600px) {
    .highlights__items,.testimonials__items,.footer__content {
        flex-direction :column;
    }
}

@media only screen and (max-width: 600px) {
  footer .footer__content {
      flex-direction :column;
      width: 100%;
  }
}
  
  .highlights__item__content,.testimonials__item__content{
	   background: #ffffff;
	   box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
	   height:100%;
	   text-align: center;
	   margin:2rem;
  }
  .highlights__item__content a{
	  color:#ce1b28;
  }
  
/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  font-size: 5rem;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }
	
	/*Testimonials*/
  blockquote {
  border-left-color: grey !important; 
  border-left: solid 0.5rem;
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 1rem 0 1rem 2rem;
  }
  .author {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center; 
	  margin-left:2rem;}
	  .author blockquote {
        margin: 0; }
      .author .image {
        margin-right: 2rem;
        width: 20%; }
        .author .image img {
          border-radius: 100%;
          max-width: 100%; }
      .credit {
      font-size: 0.75rem; }
	  .credit strong {
    color: #ce1b28; }
	
	/* CTA */
.cta {
  background-color: #ce1b28;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../../images/cta01.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }
  
  .cta__content {
  padding: 8rem 0 6rem 0;
  position: relative;
  z-index: 1;
  }
  
  .cta h1, .cta h2, .cta h3, .cta h4, .cta h5, .cta h6 {
  color: #ffffff;
  }
  .cta__summary a{
	  color:white;
	  font-size:2rem;
  }