<div class="container mb-5">
    <h1 class="mt-5 pt-5 mb-5">About Us</h1>

<div class="mt-4 light regular-font">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam facere rerum voluptatum adipisci ut voluptates possimus labore, tempora minima laborum impedit laboriosam quisquam amet a nostrum officia odit, quod fuga.</p>
</div>
<hr>
<div class="mt-4 mb-5 light regular-font">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam facere rerum voluptatum adipisci ut voluptates possimus labore, tempora minima laborum impedit laboriosam quisquam amet a nostrum officia odit, quod fuga.</p>
</div>
        <a class="no-link-style bold" href="../../../contact.html">Contact Us</a>
        <br>
        <a class="no-link-style bold" href="../../../contact.html">Customer Service</a>
        <br>
        <a class="no-link-style bold" href="../../../contact.html">Privacy Policy</a>
        <br>
        <a class="no-link-style bold mb-5" href="../../../PLP.html">Shop</a>
</div>
