---
title: compare
layout: src/templates/layouts/2column-right.hbs
---
<div class="container" id="bigCart">
    <h3> 
        Shopping Cart 
    </h3>
    <p class = "gray-color pb-2"> 
        For call support: 1-800-293-8248
    </p>
    <div class="bold row bb-grey pb-2">
        <div class="col-3"></div> 
        <div class="col-3">Name:</div>
        <div class="col-2">Unit Price:</div>
        <div class="col-2">Qty:</div>
        <div class="col-2">Subtotal:</div>
    </div>
   
    <cart-item v-for = "item in cartItems" :name = "item.name" :price ="item.price.regular" :image ="item.img" :qty = "item.qty" :sub="item.sub" :obj="item">
    </cart-item>
    
    <div class="discount bb-grey">
    <p class="helvetica regular-font light pb-3">
        GIFT OPTIONS <span class="bold down-arrow ml-5">&or;</span>
    </p>
    <div class="js-gift-toggle">
        <div class="row">
            <div class="col-6">
                <p>Pick a Paper of your choice</p>
                <input type="checkbox"><span class="ml-5 helvetica light regular-font">Gift Receipt</span><br>
                <input type="checkbox"><span class="ml-5 helvetica light regular-font">Printed Card</span>
            </div>
            <div class="col-6">
                <p>Gift message optional</p>
                 <input type="text" name="to" class="form-control contact mb-2" id="exampleFormControlInput3" placeholder="Discount Code">
                <input type="text" name="from" class="form-control contact mb-2" id="exampleFormControlInput3" placeholder="Discount Code">
                 <textarea class="form-control contact required comment mb-5" id="exampleFormControlTextarea1" rows="4" placeholder="Your message"></textarea>
            </div>
        </div>
    </div>
    </div>
      <div class="row mr-0 ml-0 bb-grey mb-5 mt-3 pb-4">
        <div class="col-6 pl-0">
            <p class="helvetica regular-font light mb-1">
                 DISCOUNT CODE:
            </p>
             <form class="discount-code">
               <input type="text" name="discountCode" class="form-control code-num contact phone" id="exampleFormControlInput5" placeholder="Discount Code">
                <button type="submit" class="btn d-inline code-submit">ADD</button>
            </form>
             <div class="error-message-2">
            </div>

        </div>
        <div class="col-6 pl-0">
             <p class="helvetica regular-font light mb-1">
                 HAVE A GIFT CARD?
            </p>
            <form class= "gift-code">
                <input type="text" name="giftCode" class="form-control code-num contact phone" id="exampleFormControlInput6" placeholder="Gift Code">
                <button type="submit" class="btn d-inline code-submit">ADD</button>
            </form>
             <div class="error-message">
            </div>
        </div>
    </div>
</div>