---
title: contact
layout: src/templates/layouts/1column-full.hbs
---

<div class="container">
    <h2 class="contact-title mb-3"> Contact Us </h2>
    <p class="mb-5 contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit </p>
    <hr class="mb-5">
    <div class="row mt-3">
        <div class="col-7 col-md-5">
            <h5 class="mb-3">Phone</h5>
            <p class="contact-text">1-234-345-2423
                <br>Lorem ipsum dolor sit ameteniam, amco l ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-7 col-md-5">
            <h5 class="mb-3">Other Inquiries</h5>
            <p class="contact-text">Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud ex ea commodo consequat.
                <strong>info@gorillagroup.com</strong>
            </p>
        </div>
    </div>
    <h5 class="mt-5 mb-3">Write Us</h5>
    <div class="row mb-4">
        <form class="col-12 col-md-5 contact-form">
            <label class="sr-only">name input</label>
            <div class="form-group">
                <input type="text" name="name" class="form-control contact name" id="exampleFormControlInput1" placeholder="Name">
            </div>
            <div class="name-comment"></div>
            <label class="sr-only">email input</label>
            <div class="form-group">
                <input type="email" name="email" class="form-control contact email" id="exampleFormControlInput2" placeholder="Email">
            </div>
            <div class=" email-comment"></div>
            <label class="sr-only">phone input</label>
            <div class="form-group">
                <input type="text" name="phone" class="form-control contact phone" id="exampleFormControlInput3" placeholder="Phone Number">
            </div>
            <div class="phone-comment"></div>
            <label class="sr-only">comment input</label>
            <div class="form-group">
                <textarea class="form-control contact required comment" id="exampleFormControlTextarea1" rows="4" placeholder="What's on your mind"></textarea>
            </div>
            <button type="submit" class="btn submit-btn">Submit</button>
        </form>
    </div>

</div>