<!doctype html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
  {{> head }}
</head>

<body>
    <div class="page-wrap">
        {{> header }}
        <div id="mobile-wrap">
            <div class="container main">
            {{> BC}}
            <div id="content" class="content">
                <div role="main">
                  {{> body }}
                </div>
            </div>
            </div>
            {{> footer }}
        </div>
    </div>
    {{> scripts}}
</body>
</html>