<!doctype html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
    {{> head }}
</head>
<body>
    <div class="page-wrap">
        {{> header }}
        <div id="content" class="content container">
            <div class="container-fluid main">
                {{> BC }}
                <div class="row">
                    <div class="sidebar col-12 col-md-3" role="complementary">
                        {{> left-plp }}
                    </div>
                    <div class="col-12 col-md-9 mt-5" role="main">
                        {{> body }}
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    {{> scripts}}
</body>
</html>