	<!-- Testimonials -->
			<section class="testimonials">
					<div class="testimonials__header">
						<h2>Testimonials</h2>
						<p>Our clients are our biggest supporters.Would you like to know what our clients think about us? Take a look for yourself in the testimonial before.</p>
					</div>
					<div class="testimonials__items">
						<section>
							<div class="testimonials__item__content">
								<blockquote>
									<p>Excellent portal to create impressive cv.We can choose from dozens of resume templates.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="testimonials__item__content">
								<blockquote>
									<p>Excellent portal to create impressive cv.We can choose from dozens of resume templates.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="testimonials__item__content">
								<blockquote>
									<p>Excellent portal to create impressive cv.We can choose from dozens of resume templates.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
			</section>
