<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="example.html">Example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="one.html">One</a>
    </li>
  </ul>

</nav>
<div class="jumbotron text-center">
  
  <h1>My First Bootstrap Page Header</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
