<header class="header">
    <h1> BECH BAAZAAR</h1>
    <nav>
        <ul>
            <li><a href="https://preprod-eu-press.kia.com/eu/en/home.html?q=2"> Home</a></li>
            <li><a href="#"> Page 2</a></li>
            <li><a href="#"> Page 3</a></li>
            <li><a href="#"> Page 4</a></li>
        </ul>
    </nav>
</header>