<!-- Highlights -->
      			<section class="highlights">
      					<div class="highlghts__header">
                  <h2>Stand out from rest of the job seekers.</h2>
						<p>Three simple steps to create your perfect resume. Choose from 20+ tailored-built templates that have landed thousands of people like you their dream jobs.</p>
                </div>
                <div class="highlights__items">
                <section>
							<div class="highlights__item__content">

									<a href="#" class="icon fa-file-text"><span class="label">Icon</span></a>
									<h3>Choose your resume template</h3>

								<p>Our professional resume templates are designed strictly following all industry guidelines and best practices employers are looking for.</p>
							</div>
						</section>

            <section>
          <div class="highlights__item__content">

              <a href="#" class="icon fa-pencil-square-o"><span class="label">Icon</span></a>
              <h3>Write your resume</h3>

            <p>Not finding the right words to showcase yourself? We´ve added thousands of pre-written examples and resume samples As easy as a click.</p>
          </div>
        </section>

        <section>
      <div class="highlights__item__content">

          <a href="#" class="icon fa-download"><span class="label">Icon</span></a>
          <h3>Download your resume</h3>

        <p>Start impressing employers. Download your awesome resume and land the job you are looking for, effortlessly.</p>
      </div>
    </section>
</div>

      			</section>
